*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 2px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    text-align: end;
}
li{
    list-style-type: none;
    display: inline;
    margin: 20px;
}
a{
    text-decoration: none;
    color: rgb(255, 94, 0);;
}
.section1{
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: end;
}
.section2{
    background-color: rgba(1, 1, 253, 0.113);
    border-radius: 25px;
    margin-bottom: 50px;
}